* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
}

.hero-section {
  background-image: url(/Assets/hero-bg.png);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.header_section {
  padding: 15px 0px;
}

.hero-section.container-fluid {
  padding: 0px 25px;
}

.navbar {
  padding: 0px;
}

.navbar-brand span {
  font-size: 24px;
  font-weight: bold;
}

.nav-link {
  padding: 5px 0px;
}

.nav-link:hover {
  color: #007bff !important;
}

.slider-section {
  padding: 45px 0px 145px;
}

.col-md-6 {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.row {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.detail-box h1 {
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 15px;
  color: #ffffff !important;

}

.img-box {
  margin: 45px 0;
  animation: upDown 5s infinite;
}

.img-box img {
  width: 100%;

}

button {
  color: #ffffff;
  background-color: #00BBF0;
  border: none;
}

.btn-1 {
  margin: 5px;
  padding: 10px 15px;
  width: 165px;
}

.btn-box {
  margin: 25px -5px 0px;
}

.services-section {
  padding: 90px;
  color: #0C0C0C;
}

.services-section h2 {
  color: #0C0C0C;
  font-weight: bold;
  text-align: center;
  margin: 0;
}

.services-section p {
  color: #0C0C0C;
  text-align: center;
  margin: 10px 0px 0px;
}

.services-section .container {
  display: flex;
}

.services-section .row {
  flex: 1;
}

button:hover {
  background-color: #007bf0;
}



.box {
  background-color: #F8F8F9;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  height: 100%;

  border: 2px solid red;
}



.logo-box {
  width: 25%;
  flex-grow: 1;
}

.logo-box img {
  max-width: 100%;
  max-height: 100%;
}

.desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid red;
  text-align: center;


}

.desc {
  flex-shrink: 0;
  /* Prevent the desc section from shrinking */
  flex-grow: 0;
  /* Prevent the desc section from growing */
}

.box .desc {
  flex-grow: 1;
}

@keyframes upDown {

  0% {
    transform: translateY(-45px);
  }

  50% {
    transform: translateY(45px);

  }

  100% {
    transform: translateY(-45px);
  }
}